.estilo-nav {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;  

  .logo {
    height: 6em;
    will-change: filter;
    transition: filter 300ms;
    border-radius: 50%;
    
    .logo:hover {
      filter: drop-shadow(0 0 2em #ff6464aa);
    }
    
    .logo.react:hover {
      filter: drop-shadow(0 0 2em #fb6161aa);
    }
  }

  nav {
    display: flex;
    gap: 20px;
    align-items: center;

    a {
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  

}

